*{
	margin: 0 ;
	padding: 0;
	box-shadow: border-box;
	border-radius: 20px;
}
body
{
	font-family: sans-serif;
	padding: 3%;
	background-color: black;
	background-image: url("img/bg.jpg");
	color:  #fff;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 0 1000px inset;
	cursor: default;

}
button{
	cursor: pointer;
	border: solid #2633a1 2px;
	border-radius: 20px;
	
}
h1{
	text-align: center;
	margin-bottom: 100px;
}
h2{
	font-size: 30px;
	margin-bottom: 15px;
}
.main-wrapper
{
	max-width: 650px;
	margin: auto;
	background-color: #2633a1;
	padding: 4%;
	border-radius: 50px;
}
.main-wrapper label{
	font-size: 20px;
	margin: 15px;
}
#loginForm{
	text-align: center;
}
.logo{
	text-align: center;
	margin-bottom: 50px;
}
form div{
	padding: 15px 0;
}
form div label{
	display: block;
	font-weight: bold;
	font-size: 16px;

}
form div input{
	height: 50px;
	width: 90%;
	font-size: 18px;
	padding: 5px 15px; 
	border-radius: 20px;

}
form div button{
	cursor: pointer;
	padding: 10px 30px;
	font-size: 20px;
}
form ul{
	list-style: none;
}
form ul li{
	color: red;
}
.no-acc-register{
	text-align: center;
	margin-top: 50px;
}
.no-acc-register button{
	padding: 15px;
	font-size: 20px;
}
.no-acc-register p{
	font-size: 22px;
	margin-bottom: 15px;
}
.custom-modal{
	display: none;
	background-color: rgba(15, 20, 63, 1);;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 1000px 1000px;
	max-width: 650px;
	margin: auto;
	padding: 50px;
	position: absolute;
	top: 15%;
	left: 0;
	right: 0;
	width: 100%;
	border-style: solid;
	border-color: white;
	border-width: thin;

}

.custom-modal button#closeModal{
	height: 20px;
	width: 20px;
	color: white;
	background-color: transparent;
	border: 0;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	right: 30px;
	top: 30px;
}
#registrationForm{
	text-align: center;
}



.inner-container{
	
	padding: 15px;
	background-color:#2633a1
	/*rgba(15, 20, 63, 0.8);*/
}
.inner-container.right-side{
	padding: 4%;
}
.inner-container.left-side{
	text-align: center;
	padding: 12%;
	margin-bottom: 5%;
	
}
.inner-container img.profile{
	width: 70%;
	border-radius: 50%;
	display: black;
	margin: auto;
	margin-bottom: 20px;

}

.inner-container.right-side form{
	display: flex;
	height: 100px;
}

.inner-container.right-side form textarea{
	font-size: 20px;
	width: 85%;
	padding: 10px;
	border: 0;
	resize: none;
	outline-color: #2633a1;
}

.inner-container.right-side form button{
	width: 15%;
	border: none;
	background-color: lightgreen;
}
#deleteProfile{
	appearance: auto;
	font-size: 20px;
	color: white;
	padding: 15px;
	background-color: red;
}

#allPostsWrapper .single-post{
	background-color: #eaeaea;
	padding: 15px;
	margin-top: 15px;
	color:  #000;
	border-radius: 20px;
}

#allPostsWrapper .single-post .post-content{
	border: 1px solid black;
	margin-bottom: 10px;
	font-size: 22px;
	padding-left: 15px;
}

#allPostsWrapper .single-post .post-actions {
	display: auto;
	justify-content: space-between;
	color:  gray;
}
#allPostsWrapper .single-post .post-actions div button.like-btn{
	background-image: url('img/like.png');
	padding: 5px 15px 5px 40px;
	background-repeat: no-repeat;
	background-position: 10px;
	border: 0;
}
#allPostsWrapper .single-post .post-actions div button.like-btn:hover{
	background-color: skyblue;
}
#allPostsWrapper .single-post .post-actions div button.comment-btn{
	background-image: url('img/comment.png');
	padding: 5px 15px 5px 40px;
	background-repeat: no-repeat;
	background-position: 10px;
	border: 0;
	width: 64px;
	height: 34px;
	margin-bottom: 0;

}
#allPostsWrapper .single-post .post-actions div button.remove-btn{
	background-image: url(img/del.png);
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 10px;
    border: 0;
    width: 44px;
    height: 34px;
    margin-bottom: 0;
    text-align: center;
}
#allPostsWrapper .single-post .post-actions div button.remove-btn:hover{
	background-color: orangered;
	}


#allPostsWrapper .single-post .post-comments form{
	height: 30px;
	display: flex;
	margin-top: 15px;
}
#allPostsWrapper .single-post .post-comments form input{
	width: 85%;
	padding:  0 10px;
}
#allPostsWrapper .single-post .post-comments form button{
	width: 15%;
	height: 100%;
	background-color: lightgreen;
	padding: 0 10px;

}
#allPostsWrapper .single-post .post-comments{
	display: none;
}

#allPostsWrapper .single-post .post-comments .single-comment{
	
	padding: 10px;
	margin-top: 20px;
	border: solid  black 1px;
}
#editAccount{
	font-size: 15px;
	padding: 5px 15px;
}
#editForm{
	text-align: center;
}
.obrisi{
	text-align: center;
}
#logout{
	font-size: 15px;
	padding: 5px 15px;
}
textarea{
	border-radius: 20px;
}
.post-actions p b{
	background-color: #2633a1;
	color: whitesmoke;
	font-size: 20px;
	padding: 10px 15px;
	border: 1px solid #2633a1;
}
.postTekst{
	margin-top: 20px;
	color: black;
}
.obj{
	margin: 10px;
}
.comment-icon{
	width: 20px;
	height: 20px;
	object-fit: contain;
	vertical-align: middle;
}
@media screen and (max-width: 992px) {
    #email{
		font-size: 10px !important;
	}
}
@media screen and (max-width: 768px) {
    #email{
		font-size: 20px !important;
	}
}

@media screen and (max-width: 788px) {
    .custom-modal.special{
		width: 65% !important;
	}
}

@media screen and (max-width: 800px) {
    .main-wrapper{
		max-width: 500px !important;
	}
}
@media screen and (max-width: 600px) {
    .main-wrapper{
		max-width: 400px !important;
		padding: 10% !important;
	}
}
@media screen and (max-width: 500px) {
    .main-wrapper{
		max-width: 300px !important;
	}
}

